<div align="center" style="margin-top: 1em;">
  <div class="badge-base LI-profile-badge"
       data-locale="zh_CN"
       data-size="medium"
       data-theme="light"
       data-type="HORIZONTAL"
       data-vanity="sen-liao-737971164"
       data-version="v1">
    <a class="badge-base__link LI-simple-link"
       href="https://de.linkedin.com/in/sen-liao-737971164?trk=profile-badge">
       Sen Liao
    </a>
  </div>
  <script src="https://platform.linkedin.com/badges/js/profile.js"
          async defer type="text/javascript"></script>
</div>
